[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standart"], version = "*"}
databases = {extras = ["postgresql"], version = "*"}
psycopg2-binary = "*"
aioredis = "*"

[dev-packages]

[requires]
python_version = "3.9"
